<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.wongapps" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".HelpActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="employee.information.EmployeeInformationActivity" />
        <activity android:name="employee.information.DetailPersonalActivity" />
        <activity android:name="employee.information.DetailEmploymentActivity" />
        <activity android:name="employee.information.DetailTrainingActivity" />
        <activity android:name="employee.attendance.AttendanceActivity" />
        <activity android:name="employee.attendance.AttendanceDetailActivity" />
        <activity android:name="employee.attendance.AttendanceCorrectionActivity" />
        <activity android:name="employee.leave.LeaveActivity" />
        <activity android:name="employee.leave.LeaveRequestActivity" />
        <activity android:name="employee.leave.LeaveApprovalActivity" />
        <activity android:name="employee.leave.LeaveApprovalApprovedActivity" />
        <activity android:name="employee.leave.LeaveApprovalRejectedActivity" />
        <activity android:name="employee.payroll.PayrollActivity" >
        </activity>
        <activity android:name="employee.payroll.PayrollDetailActivity" >
        </activity>
    </application>

</manifest>
